# ignores
storage/qr-codes/**
storage/images/book_covers/**
storage/images/user_photos/**

# allow
storage/images/user_photos/default.png
storage/images/book_covers/default.png
storage/qr-codes/logo.png