# ignores
storage/qr-codes/**
storage/images/book_covers/**
storage/images/user_photos/**
__pycache__/
*.pyc
TODO.md
*.code-workspace

# allow
storage/images/user_photos/default.png
storage/images/book_covers/default.png
storage/qr-codes/logo.png